@charset "big5";
/* CSS Document */

/*橫式*/
.mom_2013_mikegay_horizental {
	border: 1px solid #cc0033;
	width: 400px;
}

.mom_2013_mikegay_horizental span {
	float: right;
	cursor:pointer;
}

.mom_2013_mikegay_horizental_title {
	height: 30px;
	background-color: #cc0033;
}

.mom_2013_mikegay_horizental_title h6 {
	float:left;
}



.mom_2013_mikegay_horizental_content img {
	width:400px;
	height:200px;
}

/*直式*/

.mom_2013_mikegay_vertical {
	border: 1px solid #cc0033;
	border-left: none;
}


.mom_2013_mikegay_vertical_title {
	width:30px;
	height:300px;
	float:left;
	background-color: #cc0033;
}
.mom_2013_mikegay_vertical_title img {
	cursor:pointer;
}

.mom_2013_mikegay_vertical_title span {
}


.mom_2013_mikegay_vertical_content {
	float:left;
}

.mom_2013_mikegay_vertical_content img {
	width:170px;
	height:300px;
}
